BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
ColumnLimit: 120
IndentWidth: 2
TabWidth: 2
UseTab: Never
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
NamespaceIndentation: None